<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupus 2.0</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="client.js"></script> -->
</head>
<body>
    <center>
       
    
    
    <input type="button" class="btn btn-primary " id="unisciti" value="Unisciti" />
  
    <input type="button" class="btn btn-primary " id="crea" value="Crea" />
    <input type="text" class="form-control hidden" id="inputCodiceStanza" placeholder="Codice Stanza"  />
    <input type="button" class="btn btn-primary hidden" id="btnCodiceStanza" value="Entra" />
</center>

</body>
<script>
    $('#unisciti').on('click', function () {
    changeView(['unisciti', 'crea'], ['inputCodiceStanza', 'btnCodiceStanza']);
  });
  $('#crea').on('click', function () {
   //changeView(['unisciti', 'crea'], ['inputCodiceStanza', 'btnCodiceStanza']);
  });
  $('#btnCodiceStanza').on('click', function () {
    window.location.replace('room/' + $('#inputCodiceStanza').val());
});
function changeView(x, k) {
    for (i = 0; i < x.length; i++) {
      $('#' + x[i]).addClass("hidden");
    }
    for (i = 0; i < k.length; i++) {
      $('#' + k[i]).removeClass("hidden");
    }

  }
</script>
<style>
    .hidden{
        display: none;
    }
</style>
</html>